*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 100%;
  background-color: #fafbff;
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  text-decoration: none;
}

p {
  font-size: 0.9375rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: 800;
}

h2 {
  font-size: 0.9375rem;
  font-weight: 600;
}

button {
  /* 
      max-width: rem(170);
      max-height: rem(41); */
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*  border: 2px solid magenta; */
}
@media (max-width: 414px) {
  .main__container {
    align-items: center;
  }
}

.main__container_heading {
  /* margin-bottom: rem(70); */
  max-height: 9.0625rem;
  padding: 3.75rem;
  text-align: center;
}

.content__container {
  max-height: 25rem;
  max-width: 33.75rem;
}
@media (max-width: 414px) {
  .content__container {
    max-height: 29.875rem;
    max-width: 20.4375rem;
  }
}

.content__container_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.content__header_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .content__header_price {
    order: 3;
  }
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.slider__billing_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 414px) {
  .slider__billing_container {
    justify-content: center;
  }
}

.content__container_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 414px) {
  .content__container_footer {
    flex-direction: column;
  }
}

h1 {
  color: #293356;
}
@media (max-width: 414px) {
  h1 {
    font-size: 1.25rem;
  }
}

h2 {
  color: #858fad;
}
@media (max-width: 414px) {
  h2 {
    font-size: 0.8125rem;
  }
}

.trial-btn {
  padding: 0.8125rem 2.875rem;
  border-radius: 1.875rem;
  border: none;
  background-color: #293356;
  color: #bdccff;
  font-weight: 800;
  font-size: 0.75rem;
  cursor: pointer;
}
.trial-btn:hover {
  color: white;
}

.main__container_heading {
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 3.375rem;
}
@media (max-width: 414px) {
  .main__container_heading {
    margin-bottom: 1.875rem;
  }
}
.main__container_heading h1 {
  margin-bottom: 0.75rem;
}

.content__container {
  background-color: white;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 0.5rem;
  margin-top: 3.375rem;
}
@media (max-width: 414px) {
  .content__container {
    margin-top: 1.25rem;
  }
}

.content__container_header {
  padding-top: 1.5rem;
}

.content__header_pageview span {
  color: #858fad;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 800;
}
@media (max-width: 414px) {
  .content__header_pageview span {
    font-size: 0.75rem;
  }
}

.content__header_price div {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: #293356;
}
@media (max-width: 414px) {
  .content__header_price div {
    font-size: 2rem;
  }
}
.content__header_price span {
  font-size: 1rem;
  font-weight: 600;
  color: #858fad;
  margin-left: 0.5rem;
}
@media (max-width: 414px) {
  .content__header_price span {
    font-size: 0.875rem;
  }
}

.slider__container {
  padding: 0rem 3rem;
  margin-top: 1.5rem;
}
@media (max-width: 414px) {
  .slider__container {
    padding: 0rem 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.875rem;
  }
}

.slider__billing_container {
  padding: 2.8125rem 3.125rem;
}
@media (max-width: 414px) {
  .slider__billing_container {
    padding: 2.375rem 1.25rem;
  }
}

.billing {
  color: #858fad;
  font-size: 0.75rem;
}

.discount_container {
  padding: 0.125rem 0.5rem;
  background-color: #feece7;
  border-radius: 1.25rem;
  margin-left: 0.5625rem;
}
@media (max-width: 414px) {
  .discount_container {
    width: 2.625rem;
    height: 1.1875rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.discount_container span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #FF8D68;
}
@media (max-width: 414px) {
  .discount_container span {
    font-size: 0.625rem;
  }
}
@media (max-width: 414px) {
  .discount_container .discount {
    display: none;
  }
}

.content__container_footer {
  border-top: 1px solid #ebeafb;
  padding: 1.25rem 0rem;
}

@media (max-width: 414px) {
  .content__footer_facts {
    margin-bottom: 2rem;
  }
}
.content__footer_facts div {
  font-size: 0.75rem;
  color: #858fad;
  margin: 0.625rem;
  font-weight: 600;
}
.content__footer_facts div img {
  margin-right: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.6875rem;
  height: 1.375rem;
  margin: 0rem 1rem;
}
@media (max-width: 414px) {
  .switch {
    margin: 0rem 0.625rem;
  }
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  transition: 0.4s;
}
.slider:hover {
  background-color: #a5f3eb;
}

.slider::before {
  position: absolute;
  content: "";
  height: 0.875rem;
  width: 0.875rem;
  left: 0.3125rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #cdd7ee;
}

input:checked + .slider:hover {
  background-color: #a5f3eb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #cdd7ee;
}

input:checked + .slider::before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 2.25rem;
}

.slider.round::before {
  border-radius: 50%;
}

input[type=range] {
  width: 100%;
  margin: 16x 0;
  background-color: trasparnt;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #a5f3eb;
  border-radius: 9.1px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -16.2px;
  width: 40px;
  height: 40px;
  border: 1px solid #10d5c2;
  border-radius: 50px;
  cursor: pointer;
  background: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10d5c2;
  box-shadow: 0px 18px 25px 10px #a5f3eb;
  -webkit-appearance: none;
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color: #a5f3eb;
  border: 1px solid #a5f3eb;
}

input[type=range]::-moz-range-track {
  background-color: #cdd7ee;
  border-radius: 9.1px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-moz-range-progress {
  background: #a5f3eb;
  border: 1px solid #a5f3eb;
}

input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 1px solid #10d5c2;
  border-radius: 50px;
  cursor: pointer;
  background: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10d5c2;
  box-shadow: 0px 18px 25px 10px #a5f3eb;
}

input[type=range]:hover::-moz-range-thumb {
  background-color: #a5f3eb;
  border: 1px solid #a5f3eb;
}