@use 'functions';
*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Manrope', sans-serif;
    font-size: 100%;
}

a {

    text-decoration: none;
}

p {
    font-size: rem(15);
}








.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }