@use 'functions';
@use 'colors';

*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Manrope', sans-serif;
    font-size: 100%;
    background-color: $main-bg;
    background-image: url(/images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

a {

    text-decoration: none;
}

p {
    font-size: rem(15);
}

h1 {
    font-size: rem(28);
    font-weight: 800;
}

h2 {

    font-size: rem(15);
    font-weight: 600;
}

button {
/* 
    max-width: rem(170);
    max-height: rem(41); */
}








.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }