@use 'functions';
@use 'colors';
@use 'breakpoints';





h1 {
    color: $text-color-dark;
   
    @include xs {

        font-size: rem(20);
    }
}

h2 {
    color: $text-color;

    @include xs {

        font-size: rem(13);
    }
    
}

.trial-btn {

  padding: rem(13) rem(46);
  border-radius: rem(30);
  border: none;
  background-color: $text-color-dark;
  color: $cta-text;
  font-weight: 800;
  font-size: rem(12);
  cursor: pointer;

  &:hover {

    color: $white;
  }
}

.main__container_heading {

    background-image: url(/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: rem(54);

    @include xs {

        margin-bottom: rem(30);
    }
    
    h1 {

        margin-bottom: rem(12);
    }

}



.content__container {

    background-color: $white;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: rem(8);
    margin-top: rem(54);

    @include xs {

        margin-top: rem(20);
    }
   
}

.content__container_header {

   padding-top: rem(24);

}

.content__header_pageview {

    span {

        color: $text-color;
        text-transform: uppercase;
        font-size: rem(14);
        letter-spacing: 2px;
        font-weight: 800;

        @include xs {
            font-size: rem(12);
        }
    }
}

.content__header_price {

    

    div {

        font-size: rem(40);
        font-weight: 800;
        letter-spacing: -1px;
        color: $text-color-dark;

        @include xs {

            font-size: rem(32);
        }
    }

    span {

        font-size: rem(16);
        font-weight: 600;
        color: $text-color;
        margin-left: rem(8);

        @include xs {
            font-size: rem(14);
        }
    }
}

.slider__container {

    padding: rem(0) rem(48);
    margin-top: rem(24);

    @include xs {

        padding: rem(0) rem(32);
        margin-bottom: rem(24);
        margin-top: rem(30);
    }
}

.slider__billing_container {

    padding: rem(45) rem(50);

    @include xs {

        padding: rem(38) rem(20);
    }
}

.billing {

        color: $text-color;
        font-size: rem(12);
    
}

.discount_container {

    padding: rem(2) rem(8);
    background-color: $discount-bg;
    border-radius: rem(20);
    margin-left: rem(9);

    @include xs {

        width: rem(42);
        height: rem(19);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    span {

        font-size: rem(12);
        font-weight: 600;
        color: #FF8D68;

        @include xs {
            font-size: rem(10);
        }
        
    }

    .discount  {

        @include xs {

            display: none;
        }
    }

}





.content__container_footer {

    border-top: 1px solid $empty-slider;
    padding: rem(20) rem(0);
}

.content__footer_facts {

    @include xs  {

        margin-bottom: rem(32);
    }



    div {

        font-size: rem(12);
        color: $text-color;
        margin: rem(10);
        font-weight: 600;


        img {

            margin-right: rem(16);
        }
    }
}

